<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ConnectLista" value="http://189.113.4.250:888/api/millenium!pillow/prefaturamentos/lista_fat_auto"/>
    <add key="ConnectFaturar" value="http://189.113.4.250:888/api/millenium_log/picking/faturar"/>
    <add key="ConnectFaturado" value="http://189.113.4.250:888/api/millenium!pillow/prefaturamentos/faturado"/>
    <add key="ConnectErroFat" value="http://189.113.4.250:888/api/millenium!pillow/prefaturamentos/info_erro_faturamento"/>
    <add key="Authorization" value="Basic YWRtaW5pc3RyYXRvcjp2dGFUUFJAMjAxOSoq"/>
    <add key="ControlKey" value=""/>
  </appSettings>
</configuration>